.container {
  @include desktop();
  min-width: 0;
  padding-bottom: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $desktop) {
    @include tablet();
    padding-bottom: 52px;
  }

  @media (max-width: $tablet) {
    @include mobile();
    padding-bottom: 40px;
  }
}
